<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生查询系统</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav nav-pills">
            <li><a href="/">首页</a></li>
            <li><a href="addStudent">新增学生</a></li>
            <li><a href="selectStudents">查询学生</a></li>
        </ul>
    </div>
</nav>
</body>
</html>