<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生查询系统</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<%- include('../template/nav'); %>
</body>
</html>