<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查找学生</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/js/ejs.min.js">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav nav-pills">
            <li><a href="/">首页</a></li>
            <li><a href="addStudent">新增学生</a></li>
            <li><a href="selectStudents">查询学生</a></li>
        </ul>
    </div>
</nav>
<form action="/selectStudents/find" method="post">
<div class="form-group">
    <label for="select-student-text">格式：学号，学号,...</label>
    <input type="text" class="form-control" id="select-student-text" name="stuNum">
</div>

<button type="submit" class="btn btn-default">确认</button>
</form>

</body>
</html>